<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">

<service-group>

  <name replace-wildcards="yes">%h</name>

  <service>
    <type>_maasland._udp</type>
    <port>5683</port>
    <txt-record>"output1=1" "output2=0"</txt-record>
  </service>

</service-group>
